<!-- BUTTON [HTML] iDeparture Design System v.3.0.1 -->
<button [ngClass]="buttonClasses" (click)="buttonClick.emit()" [attr.aria-label]="text || 'Button'">
  <!-- Text (conditionally displayed) -->
  <span *ngIf="text">{{ text }}</span>

  <!-- Icon (conditionally displayed) -->
  <ng-container *ngIf="styleType === 'text-icon' || styleType === 'button-icon'">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-3.5 h-3.5 ms-1 mt-1">
      <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
    </svg>     
  </ng-container>
</button>
